{% extends 'base.html' %} {% load static %} {% block title %} About {% endblock %} {% block content %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">About</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      At Familia, our story is as rich and diverse as the flavors on our menu.
      Founded with a simple yet powerful vision—to create a space where food
      lovers could come together and enjoy authentic, homemade dishes in a
      welcoming atmosphere—we've grown into a beloved dining destination. Our
      commitment to quality, community, and hospitality is at the heart of
      everything we do. Whether you're joining us for a casual dinner or
      celebrating a special occasion, we invite you to become part of our
      Familia.
    </p>
  </div>
</div>
{% endblock %}
